---
layout: default
title: "Learning Vocabulary"
section: vocab_all
---
<div class="row t40">
    <div class="medium-8 medium-centered medium-offset-2 columns">
        <h2>Total words: {{ site.data["totalWords"] }}</h2>
        {% assign items = site.vocab | sort: 'date' %}
        {% for sitepage in items reversed %}
        {% unless sitepage.section != "vocab" %}
        <p>
        <h2><a href="{{ site.url }}{{ sitepage.url }}">{{ sitepage.title }}</a></h2>
        <p class="tm10 bm0">
            <time class="post-date pr20" datetime="{{ sitepage.date | date: "%B %d, %Y" }}" itemprop="datePublished"> {{ sitepage.date | date: "%B %d, %Y" }}</time>
            <span>Words Count: {{ sitepage.words.size }}</span>
        </p>
        <p>
            <ul>
                {% for word in sitepage.words %}
                <li>{{ word.title | strip }}</li>
                {% endfor %}
            </ul>
        </p>

        <hr/>
        </p>

        {% endunless %}
        {% endfor %}
    </div><!-- /.medium-8.columns -->
</div><!-- /.row -->
