/* TOC – Color Variables

- Basics
- Corporate Identity Colorpalette
- Foundation Color Variables
- Grey Scale
- Topbar-Navigation
- Footer

*/


/* Grey Scale
------------------------------------------------------------------- */

$grey-1: #E4E4E4;
$grey-2: #D7D7D7;
$grey-3: #CBCBCB;
$grey-4: #BEBEBE;
$grey-5: #A4A4A4;
$grey-6: #979797;
$grey-7: #8B8B8B;
$grey-8: #7E7E7E;
$grey-9: #646464;
$grey-10: #575757;
$grey-11: #4B4B4B;
$grey-12: #3E3E3E;
$grey-13: #313131;
$grey-14: #242424;
$grey-15: #171717;
$grey-16: #0B0B0B;

/* Corporate Identity Colorpalette
   https://color.adobe.com/de/Flat-Design-Colors-v2-color-theme-4341903/
------------------------------------------------------------------- */

$ci-1: #334D5C;		// dark turquoise
$ci-2: #45B29D;		// turquoise
$ci-3: #EFC94C;		// yellow
$ci-4: #E27A3F;		// orange
$ci-5: #DF4949;		// red
$ci-6: #A1D044;     // green



/* Basics
------------------------------------------------------------------- */

$text-color:    #666;
$body-font-color: 	$text-color;
$body-bg: 			#fff;
$hr-border-color: $grey-3;
$anchor-font-color: #C55B02;
$header-font-color: green;

/* Not sure where to put this. */
strong,
b {
  color: #000;
}

/* Foundation Color Variables
------------------------------------------------------------------- */

$primary-color: $ci-1;
$secondary-color: $ci-6;
$alert-color: $ci-5;
$success-color: $ci-6;
$warning-color: $ci-4;
$info-color: #CEE5D5;
$label-font-color: #777;


/* Topbar-Navigation
------------------------------------------------------------------- */

$topbar-bg-color: #A65C5C;

$topbar-dropdown-toggle-color: $ci-1;

$topbar-link-color: #ffffff;
$topbar-link-color-hover: #000000;
$topbar-link-color-active: #ffffff;
$topbar-link-color-active-hover: #ffffff;

$topbar-dropdown-label-color: $ci-2;
$topbar-dropdown-link-bg-hover: $ci-6;

$topbar-link-bg-active: $topbar-bg-color; // Active Navigation Link
$topbar-link-bg-hover: $topbar-bg-color;
$topbar-link-bg-active-hover: $topbar-bg-color;


$topbar-dropdown-bg: $topbar-bg-color; // Background Mobile Navigation
$topbar-dropdown-link-color: #000;
$topbar-dropdown-link-bg: $ci-2;

$topbar-menu-link-color-toggled: $ci-1;
$topbar-menu-icon-color-toggled: $ci-1;
$topbar-menu-link-color: #000;
$topbar-menu-icon-color: #ffffff;
$topbar-menu-link-color-toggled: $ci-6;
$topbar-menu-icon-color-toggled: $ci-6;



/* Footer
------------------------------------------------------------------- */

$footer-bg: $grey-8;
$footer-color: #fff;
$footer-link-color: $ci-6;


$subfooter-bg: #9B9999;
$subfooter-color: #ffffff;
$subfooter-link-color: #ffffff;

