---
layout: default
---
<div class="row t30">
	<div class="medium-8 columns medium-offset-2 end">
		<article itemscope itemtype="http://schema.org/Article">
			<header>
				{% if page.image.title %}
				<figure>
					<img src="{{ site.urlimg }}/{{ page.image.title }}" width="970" alt="{{ page.title escape_once }}" itemprop="image">

					{% if page.image.caption_url && page.image.caption %}
					<figcaption class="text-right">
						<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
					</figcaption>
					{% elsif page.image.caption %}
					<figcaption class="text-right">
						{{ page.image.caption }}
					</figcaption>
					{% endif %}
				</figure>
				{% endif %}

				<span itemprop="name">
					<h1>{{ page.title }}</h1>
				</span>
			</header>

			{% if page.date %}
			<p class="tm10">
			<time class="post-date pr20" datetime="{{ page.date | date: "%B %d, %Y" }}" itemprop="datePublished"> {{ page.date | date: "%B %d, %Y" }}</time>
			</p>
			{% endif %}

			<span itemprop="articleSection">
			{{ content }}
			</span>

			{% if page.comments == true %}
			{% include comments.html %}
			{% endif %}
		</article>
	</div><!-- /.medium-8.columns -->

</div><!-- /.row -->
